html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 1170px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
.newsletter__title, .footer__socmedia-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.newsletter__title, .footer__socmedia-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.nav--border-bottom {
  border-bottom: 1px solid #ececec;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
@media screen and (max-width: 1170px) {
  .navbar {
    padding: 21px 0;
    gap: 93px;
  }
}
@media screen and (max-width: 767px) {
  .navbar {
    padding: 10px 0;
  }
}

.navbar__wrapper {
  display: flex;
  align-items: center;
  gap: 93px;
}
@media screen and (max-width: 1170px) {
  .navbar__wrapper {
    gap: 88px;
  }
}

.logo__text {
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
@media screen and (max-width: 1170px) {
  .logo__text {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}

.logo__text--blue {
  color: #2196f3;
}

.logo__text--black {
  color: #000000;
}

@media screen and (max-width: 1170px) {
  .logo__text {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}
.menu-list {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .menu-list {
    display: none;
  }
}

.menu-list__link {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 28px 0;
  position: relative;
}

.menu-list__link:hover {
  color: #2196f3;
}

.menu-list__link::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1170px) {
  .menu-list__link::before {
    bottom: -6px;
  }
}

.menu-list__link:hover::before {
  content: "";
  opacity: 1;
}
@media screen and (max-width: 1170px) {
  .menu-list__link:hover::before {
    bottom: -6px;
  }
}

.menu-list__studio-link {
  color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.menu-list__studio-link::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  opacity: 1;
}
@media screen and (max-width: 1170px) {
  .menu-list__studio-link::before {
    bottom: -6px;
  }
}

.address {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1170px) {
  .address {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .address {
    display: none;
  }
}

.address__link {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1170px) {
  .address__link {
    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.address__link:hover {
  color: #2196f3;
}

.address__link:hover .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover .icon {
  fill: #2196f3;
}

.icon-envelope {
  width: 16px;
  height: 12px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .burger-menu {
    display: block;
  }
}

.newsletter__title, .footer__socmedia-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.main__content {
  display: flex;
  flex-direction: column;
  padding: 94px 0;
  gap: 50px;
}
@media screen and (max-width: 1170px) {
  .main__content {
    padding: 60px 0;
    gap: 30px;
  }
}
.buttons-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .buttons-filter {
    justify-content: start;
    flex-wrap: wrap;
  }
}

.buttons-filter__button {
  border-radius: 4px;
  border: none;
  background: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 6px 22px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 3%;
  text-align: center;
}

.buttons-filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .cards-list {
    justify-content: center;
  }
}

.cards-list__card {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  background: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 404px;
}
@media screen and (max-width: 1170px) {
  .cards-list__card {
    width: 354px;
    height: 440px;
  }
}
@media screen and (max-width: 767px) {
  .cards-list__card {
    width: 450px;
    height: 404px;
  }
}

.cards-list__card:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.cards-list__img {
  width: 370px;
  height: 294px;
}
@media screen and (max-width: 1170px) {
  .cards-list__img {
    width: 354px;
  }
}
@media screen and (max-width: 767px) {
  .cards-list__img {
    width: 450px;
  }
}

.cards-list__txt {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 0 20px 24px;
  position: relative;
  z-index: 3;
  background: inherit;
}
@media screen and (max-width: 1170px) {
  .cards-list__txt {
    padding: 20px 0 56px 24px;
  }
}
@media screen and (max-width: 767px) {
  .cards-list__txt {
    padding: 20px 0 20px 24px;
  }
}

.cards-list__title {
  max-width: 322px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 6%;
  text-align: left;
}
@media screen and (max-width: 1170px) {
  .cards-list__title {
    max-width: 306px;
  }
}

.cards-list__descr {
  max-width: 322px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 3%;
  text-align: left;
}
@media screen and (max-width: 1170px) {
  .cards-list__descr {
    max-width: 306px;
  }
}

.cards-list__card:hover .card-list__overlay-txt {
  transform: translatey(0);
}

.card-list__overlay-txt {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  padding: 63px 24px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
  z-index: 2;
}
@media screen and (max-width: 1170px) {
  .card-list__overlay-txt {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (max-width: 767px) {
  .card-list__overlay-txt {
    padding: 77px 24px;
  }
}

.newsletter__title, .footer__socmedia-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer {
  background: #2f303a;
  padding: 60px 0;
}

.footer__content-wrapper {
  display: flex;
  justify-content: center;
  gap: 93px;
}
@media screen and (max-width: 1170px) {
  .footer__content-wrapper {
    flex-direction: column;
    gap: 60px;
  }
}

.footer__content {
  display: flex;
  gap: 70px;
}
@media screen and (max-width: 1170px) {
  .footer__content {
    justify-content: space-around;
    width: 100%;
    gap: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1170px) {
  .footer__wrapper {
    align-items: center;
  }
}

.logo__text--white {
  color: #ffffff;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 9px;
}
@media screen and (max-width: 1170px) {
  .footer__address {
    gap: 8px;
    align-items: center;
    text-align: center;
  }
}

.footer__address-txt {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  width: 231px;
}
@media screen and (max-width: 1170px) {
  .footer__address-txt {
    text-align: center;
  }
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover {
  color: #ffffff;
}

.footer__socmedia {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
@media screen and (max-width: 1170px) {
  .footer__socmedia {
    align-items: center;
  }
}

.footer__socmedia-links {
  display: flex;
  gap: 10px;
}

.footer__socmdeia-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socmdeia-link:hover {
  background-color: #2196f3;
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1170px) {
  .newsletter {
    align-items: center;
  }
}

.newsletter__subscribe-box {
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 1170px) {
  .newsletter__subscribe-box {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.newsletter__input {
  padding: 15px 0 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  width: 358px;
}
@media screen and (max-width: 1170px) {
  .newsletter__input {
    width: 450px;
  }
}

.newsletter__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}

.newsletter__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}

.newsletter__input:focus {
  outline: none;
}

.newsletter__btn {
  padding: 10px 28px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1170px) {
  .newsletter__btn {
    gap: 12px;
  }
}

.newsletter__btn-txt {
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}