html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 1170px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
.team-members__title, .clients__title, .activity__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
}

.newsletter__title, .footer__socmedia-title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team-members__title, .clients__title, .activity__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
}

.newsletter__title, .footer__socmedia-title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.header__bg {
  background-image: url(/images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  padding: 200px 0;
}
@media screen and (max-width: 1170px) {
  .header__content {
    padding: 118px 0;
  }
}

.header__title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  width: 696px;
}
@media screen and (max-width: 1170px) {
  .header__title {
    width: 360px;
    font-size: 26px;
    line-height: 42px; /* 161.538% */
    letter-spacing: 1.56px;
  }
}

.header__btn {
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #2196F3;
  padding: 10px 32px;
  cursor: pointer;
}
@media screen and (max-width: 1170px) {
  .header__btn {
    padding: 10px 24px;
  }
}

.header__btn-txt {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
}

.header__bg-box {
  background: rgba(47, 48, 58, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
}

.team-members__title, .clients__title, .activity__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
}

.newsletter__title, .footer__socmedia-title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.nav--border-bottom {
  border-bottom: 1px solid #ECECEC;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
@media screen and (max-width: 1170px) {
  .navbar {
    padding: 21px 0;
    gap: 93px;
  }
}
@media screen and (max-width: 767px) {
  .navbar {
    padding: 10px 0;
  }
}

.navbar__wrapper {
  display: flex;
  align-items: center;
  gap: 93px;
}
@media screen and (max-width: 1170px) {
  .navbar__wrapper {
    gap: 88px;
  }
}

.logo__text {
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
@media screen and (max-width: 1170px) {
  .logo__text {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}

.logo__text--blue {
  color: #2196F3;
}

.logo__text--black {
  color: #000000;
}

.menu-list {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .menu-list {
    display: none;
  }
}

.menu-list__link {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 28px 0;
  position: relative;
}

.menu-list__link:hover {
  color: #2196F3;
}

.menu-list__link::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1170px) {
  .menu-list__link::before {
    bottom: -6px;
  }
}

.menu-list__link:hover::before {
  content: "";
  opacity: 1;
}
@media screen and (max-width: 1170px) {
  .menu-list__link:hover::before {
    bottom: -6px;
  }
}

.menu-list__studio-link {
  color: #2196F3;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.menu-list__studio-link::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  opacity: 1;
}
@media screen and (max-width: 1170px) {
  .menu-list__studio-link::before {
    bottom: -6px;
  }
}

.address {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1170px) {
  .address {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .address {
    display: none;
  }
}

.address__link {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1170px) {
  .address__link {
    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.address__link:hover {
  color: #2196F3;
}

.address__link:hover .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover .icon {
  fill: #2196F3;
}

.icon-envelope {
  width: 16px;
  height: 12px;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .burger-menu {
    display: block;
  }
}

.team-members__title, .clients__title, .activity__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
}

.newsletter__title, .footer__socmedia-title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  gap: 94px;
  padding: 94px 0;
}
@media screen and (max-width: 1170px) {
  .main__wrapper {
    padding: 60px 0;
    gap: 0;
  }
}

.features__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media screen and (max-width: 767px) {
  .features__content {
    align-items: center;
  }
}

.features__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  text-align: left;
  text-transform: uppercase;
  margin: 30px 0 10px 0;
}

.features__descr {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  width: 270px;
  max-height: 72px;
}
@media screen and (max-width: 1170px) {
  .features__descr {
    width: 354px;
    height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .features__descr {
    width: 450px;
    height: 50px;
    text-align: center;
  }
}

.features__icon {
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
}
@media screen and (max-width: 1170px) {
  .features__icon {
    width: 354px;
  }
}
@media screen and (max-width: 767px) {
  .features__icon {
    width: 450px;
  }
}

.activity__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 1170px) {
  .activity__content {
    display: none;
  }
}

.activity__photos {
  display: flex;
  gap: 30px;
}

.activity__photo {
  width: 370px;
  height: 294px;
}

.activity__photo-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.activity__photo-descr {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team-members__title, .clients__title, .activity__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
}

.newsletter__title, .footer__socmedia-title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.clients {
  background: #FFFFFF;
}

.clients__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 50px;
  padding: 94px 0;
}
@media screen and (max-width: 1170px) {
  .clients__content {
    padding: 60px 0;
    gap: 30px;
  }
}

@media screen and (max-width: 1170px) {
  .clients__title {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}

.clients__logos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clietns__logo {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1170px) {
  .clietns__logo {
    width: 226px;
    padding: 16px 60px;
  }
}
@media screen and (max-width: 767px) {
  .clietns__logo {
    width: 210px;
    padding: 16px 52px;
  }
}

.clietns__logo:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.team-members__title, .activity__title, .clients__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
}

.newsletter__title, .footer__socmedia-title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team-members {
  background: #F5F4FA;
  padding: 94px 0;
}
@media screen and (max-width: 1170px) {
  .team-members {
    padding: 60px 0;
  }
}

.team-members__title {
  margin-bottom: 50px;
}
@media screen and (max-width: 1170px) {
  .team-members__title {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 0.84px;
    line-height: normal;
  }
}

.team-members__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 1170px) {
  .team-members__wrapper {
    margin-top: 30px;
  }
}

.team-members__team-content {
  border-radius: 0px 0px 4px 4px;
  background: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (max-width: 1170px) {
  .team-members__team-content {
    padding-bottom: 24px;
  }
}

.team-members__team-content:hover {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.team-members__img {
  width: 270px;
  height: 260px;
}
@media screen and (max-width: 1170px) {
  .team-members__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (max-width: 767px) {
  .team-members__img {
    width: 450px;
    height: 460px;
  }
}

.team-members__name-title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
  margin: 30px 0 10px 0;
}

.team-members__descr {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
  margin: 10px 0 16px 0;
}

.team-members__socmedia {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-members__socmedia-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-members__socmedia-link:hover {
  background-color: #2196F3;
}

.team-members__icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-members__socmedia-link:hover .team-members__icon {
  fill: #ffffff;
}

.activity__title, .clients__title, .team-members__title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
}

.newsletter__title, .footer__socmedia-title {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer {
  background: #2F303A;
  padding: 60px 0;
}

.footer__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 93px;
}
@media screen and (max-width: 1170px) {
  .footer__content-wrapper {
    flex-direction: column;
    gap: 60px;
  }
}

.footer__content {
  display: flex;
  align-items: center;
  gap: 70px;
}
@media screen and (max-width: 1170px) {
  .footer__content {
    justify-content: space-around;
    align-items: start;
    width: 100%;
    gap: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1170px) {
  .footer__wrapper {
    align-items: center;
  }
}

.logo__text--white {
  color: #FFFFFF;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 9px;
}
@media screen and (max-width: 1170px) {
  .footer__address {
    gap: 8px;
    align-items: center;
    text-align: center;
  }
}

.footer__address-txt {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  width: 231px;
}
@media screen and (max-width: 1170px) {
  .footer__address-txt {
    text-align: center;
  }
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover {
  color: #FFFFFF;
}

.footer__socmedia {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
@media screen and (max-width: 1170px) {
  .footer__socmedia {
    align-items: center;
  }
}

.footer__socmedia-links {
  display: flex;
  gap: 10px;
}

.footer__socmdeia-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socmdeia-link:hover {
  background-color: #2196f3;
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1170px) {
  .newsletter {
    align-items: center;
  }
}

.newsletter__subscribe-box {
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 1170px) {
  .newsletter__subscribe-box {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.newsletter__input {
  padding: 15px 0 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  width: 358px;
}
@media screen and (max-width: 1170px) {
  .newsletter__input {
    width: 450px;
  }
}

.newsletter__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}

.newsletter__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}

.newsletter__input:focus {
  outline: none;
}

.newsletter__btn {
  padding: 10px 28px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1170px) {
  .newsletter__btn {
    gap: 12px;
  }
}

.newsletter__btn-txt {
  color: #FFFFFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}