html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 1170px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
