@import "../../colors";
@import "../../mixins";
@import "../../placeholders";
.clients {
  background: map-get($colors-webstudio, "background-two");
}
.clients__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include flex($direction: column);
  gap: 50px;

  padding: 94px 0;

  @media screen and (max-width: 1170px) {
    padding: 60px 0;
    gap: 30px;
  }
}
.clients__title {
  @extend %titles;

  @media screen and (max-width: 1170px) {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}
.clients__logos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clietns__logo {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 1170px) {
    width: 226px;
    padding: 16px 60px;
  }
  @media screen and (max-width: 767px) {
    width: 210px;
    padding: 16px 52px;
  }
}
.clietns__logo:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}
