@import "../../colors-portfolio";
@import "../../mixins-portfolio";
@import "../../placeholders-portfolio";
.main__content {
  display: flex;
  flex-direction: column;

  padding: 94px 0;
  gap: 50px;

  @media screen and (max-width: 1170px) {
    padding: 60px 0;
    gap: 30px;
  }
  @media screen and (max-width: 767px) {
  }
}
.buttons-filter {
  display: flex;
  justify-content: center;

  gap: 8px;

  @media screen and (max-width: 767px) {
    justify-content: start;
    flex-wrap: wrap;
  }
}
.buttons-filter__button {
  border-radius: 4px;
  border: none;

  background: map-get($colors-portfolio, "btn-background");

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  padding: 6px 22px;

  color: map-get($colors-portfolio, "main-txt-color");
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 3%;
  text-align: center;
}
.buttons-filter__button:focus {
  background-color: map-get($colors-portfolio, "filter-btn-color");
  color: map-get($colors-portfolio, "sub-color");
}
.cards-list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}
.cards-list__card {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);

  background: map-get($colors-portfolio, "sub-color");

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
  position: relative;
  overflow: hidden;

  width: 370px;
  height: 404px;

  @media screen and (max-width: 1170px) {
    width: 354px;
    height: 440px;
  }
  @media screen and (max-width: 767px) {
    width: 450px;
    height: 404px;
  }
}
.cards-list__card:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.cards-list__img {
  width: 370px;
  height: 294px;

  @media screen and (max-width: 1170px) {
    width: 354px;
  }
  @media screen and (max-width: 767px) {
    width: 450px;
  }
}
.cards-list__txt {
  display: flex;
  flex-direction: column;

  gap: 4px;
  padding: 20px 0 20px 24px;

  position: relative;
  z-index: 3;

  background: inherit;

  @media screen and (max-width: 1170px) {
    padding: 20px 0 56px 24px;
  }
  @media screen and (max-width: 767px) {
    padding: 20px 0 20px 24px;
  }
}
.cards-list__title {
  max-width: 322px;

  color: map-get($colors-portfolio, "main-txt-color");
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 6%;
  text-align: left;

  @media screen and (max-width: 1170px) {
    max-width: 306px;
  }
}
.cards-list__descr {
  max-width: 322px;
  color: map-get($colors-portfolio, "descr-color");
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 3%;
  text-align: left;

  @media screen and (max-width: 1170px) {
    max-width: 306px;
  }
}
.cards-list__card:hover .card-list__overlay-txt {
  transform: translatey(0);
}
.card-list__overlay-txt {
  color: map-get($colors-portfolio, "sub-color-two");
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;

  padding: 63px 24px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: map-get($colors-portfolio, "overlay-bg");
  z-index: 2;

  @media screen and (max-width: 1170px) {
    padding: 49px 24px 77px 24px;
  }
  @media screen and (max-width: 767px) {
    padding: 77px 24px;
  }
}
